<div class="container">
  <% if @model == "user" %>
    <%= render "user_search", value: @value, datas: @datas %>
  <% else %>
    <%= render "book_search", value: @value, datas: @datas %>
  <% end %>
</div>